*{
  margin: 0;
  box-sizing: border-box;
  font-family: "garamond";
}
.estructura-inicial, .punto1{
  border: 1px solid #E1E4E8;
}
.yellow, .blue, .red{
  width: 100px;
  height: 100px;
}
.yellow{
  background:yellow;
}
.blue{
  background: blue;
}
.red{
  background: red;
}
.punto1 div{
  float: left;
}
